# Adding allow rule for search on /fuse
allow init fuse:dir { search mounton };
allow init self:capability { sys_module setpcap };
allow init self:capability2 { block_suspend };
allow init {
    adsprpcd_file
    cache_file
    persist_file
    storage_file
}:dir mounton;
allow init kmsg_device:chr_file write;

#For insmod to search module key for signature verification
allow init kernel:key search;

#For sdcard
allow init tmpfs:lnk_file create_file_perms;

#Certain domains needs LD_PRELOAD passed from init
#allow it for most domain. Do not honor LD_PRELOAD
#for lmkd
allow init { domain -lmkd }:process noatsecure;

allow init self:socket { create ioctl bind read write };
allow init block_device:blk_file { write };
allow init device_latency:chr_file { write };
allow init modem_efs_partition_device:blk_file { write };
allow init sensors_data_file:file { append };
allow init sensors_device:chr_file { ioctl };
allow init socket_device:sock_file { create setattr write };
allow init smem_log_device:chr_file { write ioctl };
allow init smd_device:chr_file { write };
allow init uio_device:chr_file { write };
